<style>
    .on-off-toggle {
        --s: 50px;
        /* adjust this to control the size*/

        height: calc(var(--s) + var(--s)/5);
        width: auto;
        /* some browsers need this */
        aspect-ratio: 2.25;
        border: 1px solid var(--neutral-900);
        border-radius: var(--s);
        margin: calc(var(--s)/2);
        display: grid;
        cursor: pointer;
        background-color: #ff7a7a;
        overflow: hidden;
        transition: .3s .1s;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    .on-off-toggle:before {
        content: "";
        padding: calc(var(--s)/10);
        --_g: radial-gradient(circle closest-side at calc(100% - var(--s)/2) 50%, #000000 96%, #0000);
        background:
            var(--_g) 0 /var(--_p, var(--s)) 100% no-repeat content-box,
            var(--_g) var(--_p, 0)/var(--s) 100% no-repeat content-box,
            #fff;
        transition: .4s;
        mix-blend-mode: overlay;
    }

    .on-off-toggle:checked {
        background-color: #85ff7a;
    }

    .on-off-toggle:checked:before {
        padding: calc(var(--s)/10 + .05px) calc(var(--s)/10);
        --_p: 100%;
        --_i: 1;
    }
</style>

<input type="checkbox" class="on-off-toggle" style="--s:30px">